<div class='absolute inset-x-0 bottom-0 lg:inset-x-0 lg:top-0'>
  <div class='flex flex-col items-end md:mt-96 lg:mt-40 md:mr-32 lg:mr-20'>
    <div class='items-start'>
      <h2
        class='text-white items-center mr-20 md:mr-0 text-6xl md:text-9xl font-semibold'
      >Cinema
      </h2>
      <h2
        class='text-white items-center mr-20 md:mr-0 text-6xl md:text-9xl font-semibold'
      >Ironhack</h2>
      <a href='/movies'>
        <button
          type='button'
          class='items-end text-slate-500 mt-10 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-8 py-3.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700'
        >Check the movies!</button>
      </a>
    </div>
  </div>
</div>